@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  background-image: url("medias/background_texture.jpg") ;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1, h2{
  font-family: 'Cardo', serif;
}

.carousel-indicators button{
  margin: 0.2em;
  margin-bottom: 0.1em;
}
.carousel-inner{
  margin-top: 21%;
}
.couverture{
  float: right;
  width: 40%;
  height: auto;
}
.pacome {
  width: 25%;
  height: auto;
  float: right;
}
em {
  font-style: normal;
}
strong{
  font-weight: normal;
}
a:visited{
  color: lightgrey;
}
a:link{
  color: white;
}
.carousel-caption p{
  background: rgba(0, 0, 0, 0.2);
}
.atomic{
  width: 100%;
}
.btn-outline-light a{
  text-decoration: none;
}
.btn-outline-light a:active{
  color: black;
}
.decouvrir_plus{
  text-decoration: none;
}
.modal{
  color: black;
}
.modal a {
  color: black;
}
@media screen and (max-width: 1023px){
  aside{
    display: none;
  }
}

@media screen and (min-width:375px){
  .carousel-inner{
    margin-top: 19%;
  }
  .pacome{
    width: 20%;
    height: auto;
  }
}

@media screen and (min-width:425px){
  .carousel-inner{
    margin-top: 15%;
  }
  .couverture{
    width: 35%;
    height: auto;
  }
  .pacome{
    width: 18%;
    height: auto;
  }
}
iframe{
  margin: auto;
}
@media screen and (min-width:768px){
  .carousel-inner{
    margin-top: 8%;
  }
  .couverture{
    width: 35%;
    height: auto;
  }
  .post_evenement img{
    width: 5.7rem;
    height: auto;
    float: none;
  }
} 

@media screen and (min-width:1024px){
  .carousel-inner{
    margin-top: 7%;
  }
  .post_evenement img{
    width: 6rem;
    height: auto;
    float: none;
  }
 body{
  font-size: 1.1em;
 }
 .evenement{
   width: 80%;
   margin: auto;
 }
 .breadcrumb{
  padding-left: 7rem;
 }
} 
@media screen and (min-width:1440px){
  .carousel-inner{
    margin-top: 5%;
  }
  .post_evenement img{
    width: 7.2rem;
    height: auto;
    float: none;
  }
 body{
  font-size: 1.1em;
  width: 80%;
  margin: auto;
 }
 .navbar{
   width: 100%;
   margin: auto;
 }
  .evenement{
   width: 70%;
   margin: auto;
 }
 .breadcrumb{
  padding-left: 5rem;
  width: 100%;
  margin: auto;
 }
} 
@media screen and (min-width:1920px){
  .carousel-inner{
    margin-top: 4%;
  }
  .post_evenement img{
    width: 8.4rem;
    height: auto;
    float: none;
  }
 body{
  font-size: 1.3em;
  width: 80%;
  margin: auto;
 }
 .navbar{
   width: 80%;
   margin: auto;
 }
 #carouselExampleCaptions{
   width: 86%;
   margin: auto;
 }
 .evenement{
  width: 60%;
  margin: auto;
  }
  .breadcrumb{
  padding-left: 5rem;
  width: 60%;
  margin: auto;
  }
  footer{
    width: 80%;
   margin: auto;

  }
} 