@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
body{
  background-image: url("medias/background_texture.jpg") ;
  color: white;
  font-family: 'Cardo', serif;
}

.carousel-indicators button{
  margin: 0.2em;
  margin-bottom: 0.2em;
}
.carousel-inner{
  margin-top: 21%;
}

